<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            margin: 0;
            padding: 0;
        }
        .section{
            margin-top: 50px;
            display: grid;
            grid-template-columns:1fr 40% 1fr;
        }
        .container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .post {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            position: relative;
            right: 25px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            /* border: 0.4px solid #f0f2f5;
            border-radius: 10px; */
            
            padding: 7px;
        }
        .post-header img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .post-header .username {
            font-weight: bold;
        }
        .post-content {
            border-bottom: black ;
            
        }
        .post-info{
            display: flex;
            align-items: center;
        }
        .likes,.other{
            display: flex;
            align-items: center;
        }
        .post-actions {
            display: flex; 
            justify-content: space-around; 
            
        }
        
        /* .post-actions div{
            display: none;
            justify-content: space-around;
            border: solid;
            
            } */
            
            /* .action{
                display: none;
            }
             */
            .post-actions button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: #1877f2;
                font-size: 16px;
            }
            .post-actions button:hover {
                text-decoration: underline;
            }
            .comments {
                display: none;
            margin-top:  10px;
            height: 500px;
            display: flex;
            height: fit-content;
            
        }
        .comment {
            
            /* align-items: center; */
            display: block;
            height: fit-content;
            margin-bottom: 10px;
            padding: 8px;
            display: flex;
            flex-direction: column;
            background-color: #f0f2f5;
            padding: 10px;
            border-radius: 10px 10px 10px 10px;
            align-self: center;
            /* display: grid;
            grid-template-columns: repeat(4,1fr) */

        }
        .comments img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            /* align-self: center; */
        }
        /* .comment .comment-text {
            background-color: #f0f2f5;
            padding: 10px;
            border-radius: 8px;
            margin-right: 30px;
        } */
        .post-content img{
            width:100%;
        }
        .post-actions div{
            display: flex;
        }
        .post-actions div p{
            position: relative;
            top: -5px;
        }
        .post-actions span{
            align-self: center;
            padding: 1px;
            
        }
        .post-info{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .post-actions div img,.post-info img{
            position: relative;
            top: 5px;
        }
        form img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        form input{
            border-radius: 10px;
            border: none;
            background-color:#f0f2f5 ;
            outline: none;

        }
        form button {
            background-color: #1877f2;
            border-radius: 7px;
            border: none;
        }
        form {
            display: grid;
            grid-template-columns: 40px 1fr 70px;
            height: 40px;
            grid-gap: 10px;
        }
        .grand-comments{
            display: none;
        }
        .section-comment{
            max-height: 30vh;
            overflow: scroll;
            scrollbar-width: none;
        }
        .comment-action{
            display: none;
            justify-content: space-between;
            align-items: center;
        }
        .comment-action .close{
            height: fit-content;
        }

        .active-like svg {
            fill: #1877f2;
        }
        .form-group input[type="file"] {
            display: none;
        }
        .form-group label {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #1877f2;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form-group label svg {
            margin-right: 10px;
        }
        .form-group label:hover {
            background-color: #165dbb;
        }
        .form-group button {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #42b72a;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-group button:hover {
            background-color: #36a420;
        }
        

    </style>
</head>
<body>
    <%- include('./partials/header') %>
    <section class="section">

        <div class="right"></div>
        <div class="container">
            <%- include('./partials/poster') %>
            <% posts.forEach(post => { %>
                <div class="post" data-userid="<%= post.User.id %>" data-postid="<%= post.id %>" >
                    <div class="post-header">
                        <!-- <pre><%= JSON.stringify(post,null,2) %></pre> -->
                        <% if (post.User.Profil && post.User.Profil.urlPhoto) { %>
                            <a href="/user/<%=post.User.id %>"><img src="/static/profil/<%=post.User.Profil.urlPhoto %>" alt="User Avatar"></a>
                        <% } else { %>
                            <img src="/static/images/images/FB_IMG_1727683607286.jpg" alt="User Avatar">  <!-- Image par défaut si pas de profil -->
                        <% } %>
                        <a href="/user/<%=post.User.id %>"><div class="username"><%= post.User.prenom %> <%= post.User.nom %></div></a>
                    </div>
                    <div class="post-content">
                        <p id="like"><%= post.contenu %></p>
                        <img src="/static/images/posts/<%= post.ImagePost.urlPhoto%>">
                    </div>
                    <div class="post-info">

                        <div  class="likes" data-like = '<%= JSON.stringify(post.Likes.map(like => like.User.id))%>' data-post-id="<%= post.id %>">
                            <svg  width="30px" height="30px" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.9 4.5C15.9 3 14.418 2 13.26 2c-.806 0-.869.612-.993 1.82-.055.53-.121 1.174-.267 1.93-.386 2.002-1.72 4.56-2.996 5.325V17C9 19.25 9.75 20 13 20h3.773c2.176 0 2.703-1.433 2.899-1.964l.013-.036c.114-.306.358-.547.638-.82.31-.306.664-.653.927-1.18.311-.623.27-1.177.233-1.67-.023-.299-.044-.575.017-.83.064-.27.146-.475.225-.671.143-.356.275-.686.275-1.329 0-1.5-.748-2.498-2.315-2.498H15.5S15.9 6 15.9 4.5zM5.5 10A1.5 1.5 0 0 0 4 11.5v7a1.5 1.5 0 0 0 3 0v-7A1.5 1.5 0 0 0 5.5 10z" /></svg>
                            <p id="nblike"><%= post.nblike %></p>
                        </div>
                        <div class="other">
                            <img src="/static/images/images/svg/comment-alt-lines-svgrepo-com.svg" height="30px" width="30px" alt="">
                            <p id="nbcomment"><%= post.nbcomment %> </p>
                            <svg width="30px" height="30px"  viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path  fill-rule="evenodd" clip-rule="evenodd" d="M14.734 15.8974L19.22 12.1374C19.3971 11.9927 19.4998 11.7761 19.4998 11.5474C19.4998 11.3187 19.3971 11.1022 19.22 10.9574L14.734 7.19743C14.4947 6.9929 14.1598 6.94275 13.8711 7.06826C13.5824 7.19377 13.3906 7.47295 13.377 7.78743V9.27043C7.079 8.17943 5.5 13.8154 5.5 16.9974C6.961 14.5734 10.747 10.1794 13.377 13.8154V15.3024C13.3888 15.6178 13.5799 15.8987 13.8689 16.0254C14.158 16.1521 14.494 16.1024 14.734 15.8974Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <p>6</p>
                        </div>
                    </div>
                    <hr>
                    <div class="post-actions">
                        <div class="btn_like" >
                            <svg width="40px" height="40px" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" >
                                <path    fill-rule="evenodd" clip-rule="evenodd" d="M15.0501 7.04419C15.4673 5.79254 14.5357 4.5 13.2163 4.5C12.5921 4.5 12.0062 4.80147 11.6434 5.30944L8.47155 9.75H5.85748L5.10748 10.5V18L5.85748 18.75H16.8211L19.1247 14.1428C19.8088 12.7747 19.5406 11.1224 18.4591 10.0408C17.7926 9.37439 16.8888 9 15.9463 9H14.3981L15.0501 7.04419ZM9.60751 10.7404L12.864 6.1813C12.9453 6.06753 13.0765 6 13.2163 6C13.5118 6 13.7205 6.28951 13.627 6.56984L12.317 10.5H15.9463C16.491 10.5 17.0133 10.7164 17.3984 11.1015C18.0235 11.7265 18.1784 12.6814 17.7831 13.472L15.8941 17.25H9.60751V10.7404ZM8.10751 17.25H6.60748V11.25H8.10751V17.25Z" fill="black"/>
                            </svg>
                            <p>j'aime</p>
                        </div>
                        <div class="btn_comment">
                            <img src="static/images/images/svg/comment-alt-lines-svgrepo-com.svg" alt="" width="40px" height="40px">
                            <p>commenter</p>
                        </div>
                        <div>
                            <img src="/static/images/images/svg/share-2-svgrepo-com.svg" width="40px" height="40px" alt="">
                            <p>partager</p>
                        </div>
                    </div>
                    <form class="form" action="post" >
                        <img class="photo_profil" src="" alt="">
                        <input type="text" placeholder="Ecrivez votre commentaire" name="contenu" id="contenu">
                        <button type="submit">envoyer</button>
                    </form>
                    <div class="comment-action">
                        <h4 class="titreComment">Commentaires</h4>

                        <svg class="close" onclick="fermerFenetre()" ofill="#000000" width="30px" height="30px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <title>Fermer</title>
                            <path d="M19.587 16.001l6.096 6.096c0.396 0.396 0.396 1.039 0 1.435l-2.151 2.151c-0.396 0.396-1.038 0.396-1.435 0l-6.097-6.096-6.097 6.096c-0.396 0.396-1.038 0.396-1.434 0l-2.152-2.151c-0.396-0.396-0.396-1.038 0-1.435l6.097-6.096-6.097-6.097c-0.396-0.396-0.396-1.039 0-1.435l2.153-2.151c0.396-0.396 1.038-0.396 1.434 0l6.096 6.097 6.097-6.097c0.396-0.396 1.038-0.396 1.435 0l2.151 2.152c0.396 0.396 0.396 1.038 0 1.435l-6.096 6.096z"></path>
                        </svg>
                                        
                    </div>
                    <div class="section-comment">

                        <% if (post.Comments) { %>
                                <% post.Comments.forEach(comment => { %>
    
                                    <div class="grand-comments" class="grandcomments">
                                                                
                                        <div class="comments">
                                            <a href="/user/<%=comment.User.id %>"><img src="static/profil/<%=comment.User.Profil.urlPhoto %>" alt="User Avatar"></a>
                                            <div class="comment">
                                                <a href="/user/<%=comment.User.id %>"><div class="username"><%= comment.User.prenom + ' ' +comment.User.nom %></div></a>    
                                                <div class="comment-text"><%= comment.contenu %></div>
                                            </div>
                                            
                                            <!-- Exemple de commentaire -->
                                        </div>
                                        
                                    </div>
        
                                <% }) %>                 
        
                        <% } else { %>
                            <img src="/static/images/images/FB_IMG_1727683607286.jpg" alt="User Avatar">  <!-- Image par défaut si pas de profil -->
                        <% } %>
                    </div>
                </div>
                    <!-- <pre><%= JSON.stringify(post,null,2) %></pre> -->
                
                <%
            });
            %> 
            <!-- Exemple de post -->
            <!-- <div class="post">
                
                <div class="post-header">
                    <img src="/static/images/images/FB_IMG_1727683607286.jpg">
                    <div class="username">Nom d'utilisateur</div>
                </div>
                <div class="post-content">
                    <p>Ceci est un exemple de post. Le contenu du post sera affiché ici.</p>
                    <img src="/static/images/images/FB_IMG_1727185356695.jpg">
                </div>
                <div class="post-info">
                    <div >
                        <img src="/static/images/images/svg/like-right-svgrepo-com.svg" width="40px" height="40px" alt="">
                        <p id="nblike">4</p>
                        </div>
                        <div class="other">
                            <img src="/static/images/images/svg/comment-alt-lines-svgrepo-com.svg" height="40px" width="40px" alt="">
                            <p >4</p>
                            <img src="/static/images/images/svg/share-2-svgrepo-com.svg" width="40px" height="40px" alt="">
                            <p>6</p>
                        </div>
                    </div>
                    <hr>
                    <div class="post-actions">
                        <div >
                            <img src="/static/images/images/svg/like-right-svgrepo-com.svg" alt="" width="40px" height="40px" bacground-color = 'red'>
                            <p>j'aime</p>
                        </div>
                        <div>
                            <img src="static/images/images/svg/comment-alt-lines-svgrepo-com.svg" alt="" width="40px" height="40px">
                            <p>commenter</p>
                        </div>
                        <div>
                            <img src="/static/images/images/svg/share-2-svgrepo-com.svg" width="40px" height="40px" alt="">
                            <p>partager</p>
                        </div>
                    </div>
                    <div class="comments">
                        <img src="images.png" alt="User Avatar">
                        <div class="comment">
                            <div class="username">Nom d'utilisateur</div>    
                            <div class="comment-text">Ceci est un exemple de commentaire.</div>
                        </div>
        
    
                    </div>
                    <img src="svg/like-right-svgrepo-com.svgœ" alt="">
                </div>
            </div> -->
    
    </section>
    


    

    <script>
        document.querySelectorAll('.likes').forEach(like =>{

            const likes =JSON.parse(like.getAttribute('data-like'))
            const postId = like.getAttribute('data-post-id')
            likes.forEach(element =>{
                if(element == decode().userId){
                    like.classList.add('active-like')
                }
            })

        })
        // Gestion de l'affichage du nom et du prénom
        const user_all = document.querySelectorAll(".user-all")

        
        
        user_all.forEach(element => {
            alert(decode().userNom)
            element.textContent = decode().all
        
        });
        
        
        // Gestion de l'affichage de la photo de profil de l'utilisateur dans la page

        const photo_profil = document.querySelectorAll(".photo_profil")

        
        photo_profil.forEach(element => {
            element.src = `/static/profil/${decode().photo}`
        
        });
        // Gestion de l'affichage du prénom
        const prenom = document.querySelectorAll(".user-first")

        
        
        prenom.forEach(element => {
            alert(decode().userNom)
            element.textContent += decode().userPrenom
        
        });


        // Gestion de l'affichage du nom de l'utilsateur dans la page

        const user_name = document.querySelectorAll(".user-name")

        
        
        user_name.forEach(element => {
            alert(decode().userNom)
            element.textContent = decode().userNom
        
        });

        // Gestion du bouton like pour liker et pour disliker
        
        const btn_like = document.querySelectorAll('.btn_like')


        btn_like.forEach(element =>{
            const parent = element.parentElement
            const section = parent.parentElement  
            const nblike = section.querySelector('#nblike')
            console.log(`nblike : ${nblike.textContent}`)
            console.log(`element : ${element.textContent}`)
            console.log(section)
            
            element.addEventListener('click',async ()=>{

   

                

                const send = await fetch (`/post-like/${section.dataset.postid}/${decode().userId}`,{
    
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body : ''
                }
                )
                const res = await send.json()
                
                nblike.textContent = res.data
                if(res.stat){
                    nblike.parentElement.classList.add('active-like')
                }
                else{
                    nblike.parentElement.classList.remove('active-like')
                }

                
                    
                })
            })
            
// Gestionn de l'envoi des commentaires

            forms = document.querySelectorAll('.form')
            forms.forEach(form =>{
                form.addEventListener('submit', async e =>{
                    alert('ok comment')
                    const grand_comments = e.target.parentElement.querySelector('.grand-comments')
                    const section = e.target.parentElement                             
                    e.preventDefault()

                    const contenu = e.target.contenu.value

                    const response = await fetch('/post-comment',{
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ contenu, postId : section.dataset.postid,userId : decode().userId })

                    })

                    const result = await response.json()

                    new_div = document.createElement('div')
                    new_div.innerHTML = `
                    <div class="comments">
                        <img src="static/profil/${decode().photo}" alt="User Avatar">
                        <div class="comment">
                            <div class="username">Vous</div>    
                            <div class="comment-text"> ${result.resp.contenu} </div>
                        </div>
        
                        <!-- Exemple de commentaire -->
                    </div>
                    `

                    form.parentElement.querySelector('#nbcomment').textContent = result.count
                    grand_comments.prepend(new_div)
                    form.reset()


                })

            })
            const btn_comment = document.querySelectorAll('.btn_comment')
            btn_comment.forEach(btn =>{
                btn.addEventListener('click',e =>{
                    const inter = btn.parentElement
                    console.log(inter.parentElement.querySelector('.comment-action'))
                    inter.parentElement.querySelector('.comment-action').style.display = 'flex'
                    inter.parentElement.querySelectorAll('.grand-comments').forEach(div =>{
                        div.style.display = 'block'
                    })


                    // inter.parentElement.style.display = 'none'
                })
            })

            const close = document.querySelectorAll('.close')
            close.forEach(btn =>{
                btn.addEventListener('click',e =>{
                    const inter = btn.parentElement
                    console.log(inter.parentElement.querySelector('.comment-action'))
                    inter.parentElement.querySelector('.comment-action').style.display = 'none'
                    inter.parentElement.querySelectorAll('.grand-comments').forEach(div =>{
                        div.style.display = 'none'
                    })


                    // inter.parentElement.style.display = 'none'
                })
            })
            
    </script>

</body>
</html>